.right-help-card {
  align-self: flex-start;
  padding: 1rem 1rem 1rem 1rem;
  position: sticky;
  top: 0;
  background-color: #002a5c;
  color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
  height: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.consult-image {
  width: 180px;
  height: 180px;
  object-fit: contain;

}

.help-text {
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0;
  padding: 0 0.5rem;
}

.phone-link {
  color: #ffffff; /* blue link color */
  font-weight: normal;
  text-decoration: underline;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  font-size: 0.9rem;
  box-shadow: none;
  display: inline;
  transition: color 0.2s ease;
  font-weight: 700;
}

.phone-link:hover {
  color: #63a4ff; /* lighter blue on hover */
  text-decoration: underline;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .right-help-card {
    width: 100%;
    margin-top: 2rem;
  }
}
